build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/MI3
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.5.1/CMakeCCompiler.cmake
build/CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.5.1/CMakeSystem.cmake
build/CMakeFiles/3.5.1/CompilerIdC/a.out
build/CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.5.1/CompilerIdCXX/a.out
build/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MI3.dir/build.make
build/CMakeFiles/MI3.dir/cmake_clean.cmake
build/CMakeFiles/MI3.dir/CXX.includecache
build/CMakeFiles/MI3.dir/depend.internal
build/CMakeFiles/MI3.dir/depend.make
build/CMakeFiles/MI3.dir/DependInfo.cmake
build/CMakeFiles/MI3.dir/flags.make
build/CMakeFiles/MI3.dir/link.txt
build/CMakeFiles/MI3.dir/progress.make
build/CMakeFiles/MI3.dir/src/Acquisition.cpp.o
build/CMakeFiles/MI3.dir/src/dmd_grayscale_triggerin_example.cpp.o
build/CMakeFiles/MI3.dir/src/example_helper.cpp.o
build/CMakeFiles/MI3.dir/src/main.cpp.o
build/CMakeFiles/MI3.dir/src/Trigger.cpp.o
build/CMakeFiles/MI3.dir/src/testcode/Trigger.cpp.o
build/camera
build/projector
build/CMakeFiles/camera.dir/build.make
build/CMakeFiles/camera.dir/cmake_clean.cmake
build/CMakeFiles/camera.dir/CXX.includecache
build/CMakeFiles/camera.dir/depend.internal
build/CMakeFiles/camera.dir/depend.make
build/CMakeFiles/camera.dir/DependInfo.cmake
build/CMakeFiles/camera.dir/flags.make
build/CMakeFiles/camera.dir/link.txt
build/CMakeFiles/camera.dir/progress.make
build/CMakeFiles/camera.dir/src/testcode/Trigger.cpp.o
build/CMakeFiles/projector.dir/build.make
build/CMakeFiles/projector.dir/cmake_clean.cmake
build/CMakeFiles/projector.dir/CXX.includecache
build/CMakeFiles/projector.dir/depend.internal
build/CMakeFiles/projector.dir/depend.make
build/CMakeFiles/projector.dir/DependInfo.cmake
build/CMakeFiles/projector.dir/flags.make
build/CMakeFiles/projector.dir/link.txt
build/CMakeFiles/projector.dir/progress.make
build/CMakeFiles/projector.dir/src/dmd_grayscale_triggerin_example.cpp.o
build/CMakeFiles/projector.dir/src/example_helper.cpp.o
build/SineImage-0.png
build/SineImage-1.png
build/SineImage-2.png
build/SineImage-3.png
build/SineImage-4.png
build/SineImage-5.png
